@import url(https://fonts.googleapis.com/css?family=Exo:100);

html { 
    --primary: #11998e;
    --secondary: #38ef7d;
    --white: #fff;
    --gray: #9b9b9b;
}

.form__group {
    display: block;
    padding: 25px 0 0;
    margin-top: 10px;
}

.form__field {
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid var(--gray);
  outline: 0;
  font-size: 1.3rem;
  color: var(--white);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 15px;
  display: block;
  text-align: start;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--gray);
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 20px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--primary);
    font-weight: 700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary),var(--secondary));
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.result-box {
  max-height: 200px;
  overflow-y: scroll;
}

.result-box ul {
  padding: 5px 10px;
  overflow-x: hidden;
}

.result-box::-webkit-scrollbar {
  width: 16px;
}
.result-box::-webkit-scrollbar-track {
  background-color: #222831;
}
.result-box::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #31363F;
}
.result-box ul li {
  list-style: none;
  border-radius: 3px;
  padding: 2px 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.result-box ul li:hover {
  background: #11998e;
  transform: scale(1.2);
}

.result-box ul li:active {
  background: #0b554f;
}