@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Exo:100);


.content {
    color: #EEEEEE;
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    
    flex-direction: column;
}
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background-color: #222831;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
  border: 3px solid transparent;
   background-clip: content-box;
    background-color: #31363F;
}
.content:nth-child(1) {
    font-size: 3em;
}

.card {
    color: var(--text);
    flex-direction: column;
    padding: 20px;
    padding-left: 30px;
    padding-right: 170px;
    margin-left: 30px;
    margin-right: 30px;

    display: inline-block;

    font: 400 12px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;

    backdrop-filter: blur(1px) saturate(18%);
    -webkit-backdrop-filter: blur(12px) saturate(18%);
    background-color: rgba(17, 25, 40, 0.57);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    text-align: start;
}

.bottom {
    text-align: start;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0.8em;
    font-size: 1vw;
    z-index: -1;
}

.bottom a {
    text-decoration: none;
    color: inherit;
}
