/* Probably I will deal with this file later, but now there are some mixed styles for different sheets 😭*/

@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');
@font-face {font-family:'Exo';src: url('../staff/Exo2.0.ttf');}

html {
    height: 100%;
    --backgroud: #222831;
    --text: #EEEEEE;
}

body {
    background-color: #000;
}

::selection {
    background-color: #50839d;
}

.content {
    color: #EEEEEE;
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    text-align: center;
}

/* nah, fix that later */
.content:nth-child(1) {
    font-size: 6em;
}

.card {
    display: inline-block;
    color: var(--text);
    padding: 20px;

    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;

    backdrop-filter: blur(1px) saturate(18%);
    -webkit-backdrop-filter: blur(12px) saturate(18%);
    background-color: rgba(17, 25, 40, 0.57);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    line-height: 0.5em;

    z-index: 1;
    font-size: 1vw;

    text-align: start;
    margin-left: 1vw;
}


.footer a {
    text-decoration: none;
    color: inherit;
}
